langchain==0.0.267
streamlit==1.25.0
transformers==4.31.0
torch==2.8.0
einops==0.6.1
accelerate==0.21.0
pdfminer.six==20221105
duckdb==0.7.1
chromadb==0.3.26
beautifulsoup4==4.12.2
sentence-transformers==2.2.2
six==1.16.0
requests==2.31.0
torchvision==0.23.0


